@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #ffffff;
  --primary-2: #f1f3f5;
  --secondary: #000000;
  --secondary-2: #111;
  --selection: var(--cyan);

  --text-base: #000000;
  --text-primary: #000000;
  --text-secondary: white;

  --accent: #5375a0;
  --highlight: #37b679;
  --hover: rgba(0, 0, 0, 0.075);
  --hover-1: rgba(0, 0, 0, 0.15);
  --hover-2: rgba(0, 0, 0, 0.25);
  --cyan: #22b8cf;
  --green: #37b679;
  --red: #da3c3c;
  --pink: #e64980;
  --purple: #f81ce5;
  --blue: #0070f3;
  --violet: #5f3dc4;
  --violet-light: #7048e8;
  --accents-0: #f8f9fa;
  --accents-1: #f1f3f5;
  --accents-2: #e9ecef;
  --accents-3: #dee2e6;
  --accents-4: #ced4da;
  --accents-5: #adb5bd;
  --accents-6: #868e96;
  --accents-7: #495057;
  --accents-8: #343a40;
  --accents-9: #212529;
  --font-sans: -apple-system, system-ui, BlinkMacSystemFont, "Helvetica Neue",
    "Helvetica", sans-serif;
}

body {
  -webkit-tap-highlight-color: #5375a0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 16px;
}

.body-text {
  font-family: var(--next-font);
  /* font-weight: 400; */
}

.progress-bar {
  @media (min-width: 768px) {
    height: 4px !important;
  }

  @media (min-width: 1024px) {
    height: 4px !important;
  }
}

.danger {
  ul {
    list-style: inside disc;
    margin-left: 1rem /** 16px */;
    font-size: 1rem /** 14px */;
    line-height: 1.25rem /** 20px */;
  }
}

.flip {
  transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
}

.hover-underline-animation {
  /* display: inline-block; */
  position: relative;
  /* color: var(--accent); */
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--highlight);
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.category-info h2 {
  font-size: 1.25rem /* 20px */;
  line-height: 1.75rem /* 28px */;
  font-weight: 700;
  padding-top: 1rem /* 16px */;
  padding-bottom: 1rem /* 16px */;
}

.category-info .column-container {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  padding-bottom: 1rem /* 16px */;
  padding-left: 0px;
  padding-right: 0px;

  & .column {
    padding-left: 1rem /* 16px */;
    padding-right: 1rem /* 16px */;
    padding-bottom: 1rem /* 16px */;
    & img {
      margin-left: 2rem /* 32px */;
      margin-right: 2rem /* 32px */;
    }
  }
}

.category-info div {
  font-size: 1rem /* 16px */;
  line-height: 1.5rem /* 20px */;
}

.category-info ul {
  list-style-type: disc;
  margin-left: 1rem /* 16px */;
  & li {
    margin-left: 1rem /* 16px */;
    padding-top: 1rem /* 16px */;
  }
}
.category-info .text {
  padding-top: 1rem /* 16px */;
  margin-top: 1rem /* 16px */;
  border-top-width: 2px;
  & div {
    padding: 1rem /* 16px */;
  }
}

@media (min-width: 768px) {
  .category-info .column-container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
